package templates

import (
	"github.com/Aidunlin/go-srm/app"
)

templ UpdatePage(record app.StudentRecord, errors []string) {
	@page("/update", "Update Record") {
		<main class="container">
			<div class="row justify-content-center my-5">
				<div class="col-12 col-lg-6">
					<h2 class="alert alert-primary">
						Update Record
					</h2>
					if len(errors) > 0 {
						@displayErrors(errors)
					}
					@form(record, "Undeclared", "Update")
				</div>
			</div>
		</main>
	}
}
